<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.OperationLogMapper">

    <!-- 日志VO结果映射 -->
    <resultMap id="LogVOMap" type="com.book.vo.LogVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="operation" property="operation"/>
        <result column="method" property="method"/>
        <result column="params" property="params"/>
        <result column="ip" property="ip"/>
        <result column="time" property="time"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 分页查询日志 -->
    <select id="selectLogPage" resultMap="LogVOMap">
        SELECT * FROM operation_log
        <where>
            <if test="username != null and username != ''">
                username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="operation != null and operation != ''">
                AND operation = #{operation}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <!-- 查询日志详情 -->
    <select id="selectLogDetailById" resultMap="LogVOMap">
        SELECT * FROM operation_log WHERE id = #{id}
    </select>

</mapper>