<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.RoleMapper">

    <!-- 根据角色编码查询角色 -->
    <select id="selectRoleByCode" resultType="com.book.entity.Role">
        SELECT * FROM role WHERE role_code = #{roleCode}
    </select>

</mapper>